<div >
  <a ng-click="closeDemoMenu()" ng-class="{vertActive: isActive('/skills')}" class="btn btn-default btn-block" ui-sref="skills" >Skills</a>
  <a ng-click="closeDemoMenu()" ng-class="{vertActive: isActive('/skills/pieChart')}" class="btn btn-default btn-block" ui-sref="skills.demos({id:'pieChart'})">Pie Chart</a>
  <a ng-click="closeDemoMenu()" ng-class="{vertActive: isActive('/skills/barChart')}" class="btn btn-default btn-block" ui-sref="skills.demos({id:'barChart'})">Bar Chart</a>
  <a ng-click="closeDemoMenu()" ng-class="{vertActive: isActive('/skills/lineGraph')}" class="btn btn-default btn-block" ui-sref="skills.demos({id:'lineGraph'})">Line Graph</a>
  <a ng-click="closeDemoMenu()" ng-class="{vertActive: isActive('/skills/histogram')}" class="btn btn-default btn-block" ui-sref="skills.demos({id:'histogram'})">Histogram</a>
</div>
