<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Roland's Portfolio</title>
    <meta name="keywords" content="front-end, developer, portfolio, skills">
    <meta name="description" content="Online presentation of skills, and mastered technologies by the Web Developer Roland Oben">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
     <!--build:css(.tmp) styles/rolStyles.css-->
    <!--<link rel="stylesheet" href="styles/rolStyles.css">-->
    <!-- endbuild -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <link href='http://fonts.googleapis.com/css?family=Petit+Formal+Script|Josefin+Slab:400,700|Marmelad|Marvel:400,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/css/main.css">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google fonts CDN -->
  </head>
  <body ng-app="rolandApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container" ng-controller="RootCtrl">
      <!-- HEADER START -->
      <div class="row header">
        <div id="navbarLine" class="horizontalNavBar col-md-12 navbar navbar-default" role="navigation">
            <div class="spinnerContainer"><span id="loading"></span></div>  <!-- Loading spinner -->
            <div ng-click="toggleDemoMenu()" class="demoMenu">
              <img src="images/demos.png" alt="Menu widget"/>
            </div>

            <div class="currentPage" ng-cloak>{{currentPage}}</div>

            <div ng-click="toggleMenu()" class="mobileMainMenu">
              <img src="images/menu_widget.png" alt="Menu widget"/>
            </div>

              <ul active-tog class="nav navbar-nav">
                <li ng-click="clearMenu()" ng-class="{customActive: isActive('/')}"><a href="#/">Home</a></li>
                <li ng-click="clearMenu()" ng-class="{customActive: isActive('/about')}"><a ng-href="#/about">About</a></li>
                <li ng-click="clearMenu()" ng-class="{
                                customActive: isActive('/skills') ||
                                isActive('/skills/pieChart') ||
                                isActive('/skills/barChart') ||
                                isActive('/skills/lineGraph') ||
                                isActive('/skills/histogram')
                  }"><a ng-href="#/skills">Skills</a></li>
                <li ng-click="clearMenu()" ng-class="{customActive: isActive('/projects')}"><a ng-href="#/projects">Projects</a></li>
                <li ng-click="clearMenu()" ng-class="{customActive: isActive('/contact')}"><a ng-href="#/contact">Contact</a></li>
              </ul>

      </div>
      </div>
      <!-- HEADER END -->

      <!-- MAIN CONTENT START -->
      <div class="mainBlock row">
        <div class="sideMenu col-sm-2"><!-- left column -->
          <a ng-href="#/">
            <img class="logo" ng-src="images/logo.png" alt="Personal logo" />
          </a>
          <div class="vertNav"  ui-view="siteRoot"></div>
        </div>

        <div class="mainDisplay col-sm-10"><!-- right column -->
          <div class="uiViewWindow" ui-view=""></div>
        </div>

      </div>
      <!-- MAIN CONTENT END -->

      <!-- FOOTER START -->
      <div class="row footer">

        <p class="footerCopyRight">
          <span class="glyphicon glyphicon-registration-mark"></span> Copyright  ObenIT App Inc.
        </p>
      </div>
      <!-- FOOTER END -->

    </div> <!-- CONTAINER END -->


    <script src="pages/heartcode-canvasloader-min-0.9.1.js"></script>
    <script type="text/javascript">
      var cl = new CanvasLoader('loading');
      cl.setColor('#7f6300'); // default is '#000000'
      cl.setDiameter(70); // default is 40
      cl.setDensity(12); // default is 40
      cl.setRange(0.7); // default is 1.3
      cl.setSpeed(1); // default is 2
      cl.setFPS(30); // default is 24
      cl.show(); // Hidden by default
    </script>
    <script src="pages/thirdParties/css3-mediaqueries.js"></script>

    <script src="js/bundle.min.js"></script>

</body>
</html>
